<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.metro.domain.model.dao.MetroStationDAO">

    <resultMap id="metroStationMap" type="com.demo.metro.domain.model.entity.MetroStation">
        <id column="station_no" property="stationNo" jdbcType="BIGINT"/>
        <id column="station_name" property="stationName" jdbcType="VARCHAR"/>
        <id column="station_desc" property="stationDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        station_no, station_name, station_desc
    </sql>

    <select id="findAll" resultMap="metroStationMap">
        select
        <include refid="Base_Column_List"/>
        from tb_metro_station ;
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="metroStationMap">
        select
        <include refid="Base_Column_List"/>
        from tb_metro_station
        where station_no = #{stationNo};
    </select>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="stationNo" parameterType="com.demo.metro.domain.model.entity.MetroStation">
       insert into
               tb_metro_station
               (station_name,station_desc)
           values
               (#{stationName}, #{stationDesc})
    </insert>

    <update id="updateById" parameterType="com.demo.metro.domain.model.entity.MetroStation">
        update
        tb_metro_station
        <!--set标签，会自动判断哪个是最后一个字段，并去除逗号 -->
        <set>
            <if test="stationName != null">
                station_name = #{stationName},
            </if>
            <if test="stationDesc != null">
                station_desc = #{stationDesc},
            </if>
        </set>
        where
        station_no = #{stationNo}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from
            tb_metro_station
        where
            station_no = #{stationNo}
    </delete>

    <select id="countStations" resultType="java.lang.Long">
        select count(1) from
            tb_metro_station
    </select>

    <select id="findByName" resultType="java.lang.Long">
        select  IFNULL((
            select station_no
            from tb_metro_station
            where station_name = #{statioName}),0) ;
    </select>
</mapper>